body {
  padding: 150px;
  background: lightblue;
}
button {
  position: absolute;
  top: 550px;
  left: 675px;
  width: 300px;
  height: 150px;
  margin-top: 20px;
  line-height: 60px;
  font-weight: bold;
  font-size: 40px;
  padding: 0 40px;
  background: salmon;
  border: none;
}
button:hover {
  background: rgb(97, 116, 224);
 }
